.container-body-disposition-help {
    margin-top: 6rem;
    margin-bottom: 10rem;
}

/* CONTENEDOR DEL TEXTO */
#container-text {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 800px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

.elements-disposition p {
    text-align: justify;
    margin-top: 1rem;
}

.elements-disposition h2 {
    margin-top: 3rem;
}

/* FECHA DE PUBLICACIÓN */
.date {
    font-size: 14px;
    color: #666;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.help-sub-jum {
    font-weight: 500;
}

.content-help-info-dispocition {

    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 10rem;
}