.container-body-disposition-privacy {
    margin-top: 5rem;
}


/* CONTENEDOR DEL TEXTO */
#container-text {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 800px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

.elements-disposition p {
    text-align: justify;
    margin-top: 1rem;
}

.elements-disposition h2 {
    margin-top: 3rem;
}

/* FECHA DE PUBLICACIÓN */
.date {
    font-size: 14px;
    color: #666;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.data-time-site-privacy {
    margin-top: 3rem;
    margin-bottom: 10rem;
    text-align: right;
}