/* BODY */
/* JUMBOTRON: Full screen background section with centered content */

#jumbotron {
  position: relative;

  background-size: cover;
  background-position: center;
  margin-top: 0; /* Elimina el margen superior */
  padding-top: 0; /* Elimina el padding superior si es necesario */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#jumbotron::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(53, 191, 174, 0.5); /* Corregido para aplicar opacidad */
    background-size: cover;
    background-position: center;

}

#jumbotron-profile {
  position: relative;

  background-size: cover;
  background-position: center;
  margin-top: 0; /* Elimina el margen superior */
  padding-top: 0; /* Elimina el padding superior si es necesario */
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#jumbotron-profile::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(146, 183, 188, 0.5); /* Corregido para aplicar opacidad */
    background-size: cover;
    background-position: center;

}

#jumbotron-help {
  position: relative;

  background-size: cover;
  background-position: center;
  margin-top: 0; /* Elimina el margen superior */
  padding-top: 0; /* Elimina el padding superior si es necesario */
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#jumbotron-help::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(146, 183, 188, 0.5); /* Corregido para aplicar opacidad */
    background-size: cover;
    background-position: center;

}

#jumbotron-privacy {
  position: relative;

  background-size: cover;
  background-position: center;
  margin-top: 0; /* Elimina el margen superior */
  padding-top: 0; /* Elimina el padding superior si es necesario */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#jumbotron-privacy::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(146, 183, 188, 0.5); /* Corregido para aplicar opacidad */
    background-size: cover;
    background-position: center;

}

.jumbotron-dashboard {
  background-image: url('../../../../public/images/Welcome.jpeg');
}  

.jumbotron-profile {
  background-image: url('./../Profile/images/profile.JPG');
}  

.jumbotron-help {
  background-image: url('./../../Views/Help/image/help.JPG');
}

.jumbotron-privacy {
  background-image: url('./../../Views//Privacy/images/privacy.JPG');
}

  .jumbotron .container {
    position: relative;
    z-index: 1;
  }
  
  .color-welcome {
    color: #343a40 !important;
    font-weight: 300;
  }

  .color-welcome-bold {
    font-weight: 600;
  }


  
/* Estilos para centrar .offer en el centro de la pantalla */
/*.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 62.5vh; /* Asegura que el contenedor tenga el alto de la pantalla 
  text-align: center; /* Centra el texto horizontalmente 
  background-color: white;
}*/
.logoStyle{
  text-align: center;
}
.offer-img {
  width: 300px;
  height: auto;
  opacity: 0.5;
}

/* Estilos adicionales para el texto */
.offer h2 {
  font-size: 1.5rem; /* Tamaño del texto */
  font-weight: 700; /* Grosor de la fuente */
  line-height: 1.5; /* Altura de línea */
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}
  
.offer p {
  font-size: 1rem; /* Tamaño del texto */
  font-weight: 500; /* Grosor de la fuente */
  line-height: 1.5; /* Altura de línea */
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  
}

.offer-text {
  margin-bottom: 6rem;
  text-align: center; 
}

.lead {
    background-color: #1B5A7D;
    color: white;
    font-weight: 300;
}

/* Estilos generales para el carrusel */
.carousel-img {
  height: 400px; /* Tamaño para escritorio */
  object-fit: cover; /* Recorta la imagen si es más grande que el contenedor */
}
.offer{
  justify-content: center;
  height: auto;
}
@media (max-width: 768px) {
  .offer-img {
    width: 100%;
  }
  .carousel-img {
      height: 45vh;
      width: 65vw; /* Ancho completo de la pantalla */
      object-fit: cover; /* Recorta la imagen si es más grande que el contenedor */
  }
  .display-4{
    font-size: 50px;
  }
}

/* Ajuste adicional para que el contenedor del carrusel ocupe el 100% del ancho en móviles */
@media (max-width: 768px) {
  #carouselExampleControls {
      width: 100vw; /* Ancho completo de la pantalla */
  }
}









  
  /* .alert-click {
    cursor: pointer;
  }
  
  .menssage-notification-alert {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  .menssage-alert {
    margin-left: 5%;
  }
  
  .link-style {
    color: #155724;
    text-decoration: none;
    margin-left: -12%;
  } */
  
  /* BIENVENIDA: Welcome content section */
  #jumbotron-offer {
    background-color: white;
  }
  
  .offerd-description {
    display: flex;
  }
  
  .title-offer {
    font-size: 60%;
    font-weight: bold;
    padding-top: 0%;
    padding-bottom: 30%;
    text-align: right;
  }
  
  .text-offer {
    font-size: 15%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: right;
  }
  
  .img-disposition {
    display: block;
    width: 300%;
    height: 300%;
    margin: auto; /* center image */
  }
  
  @media (max-width: 1024%) {
    .col-lg-4 {
      h1 {
        font-size: 35%;
      }
    }
  }
  
.carousel-text-style {
  color: white;
  font-weight: 400;
  font-size: 2rem;
}

.carousel-text-style h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; /* Ajusta la altura según sea necesario */
  margin: 0 auto; /* Centra horizontalmente */
}

.offer-text {
  max-width: 80%; /* Ajusta el ancho máximo según sea necesario */
}